    body {
        opacity: 0.9;
        width: 100%;
        text-align: center;
        background-size:100% 100%;
        background-attachment: fixed;
    }
    
    h2 {
        color: yellow;
    }

    input {
        font-size: 3em;
        color: black;
        border-radius: 50px;
        
    }
    
    select {
        color: black;
        font-size:1.5em;
        margin:10px;
    }
    
    #layoutDiv {
        display:inline-block;
        text-align:left;
        background-color:white;
        padding:10px;
        border-radius: 10px;
    }
    
    input[type=submit] {
        display:block;
        margin:20px auto;
        font-size:2em;
    }

    #carousel-example-generic {
        margin: 0 auto;
        width: 500px;
    }
    
    #carousel-example-generic img {
        margin: 0 auto;
    }