/* HW 2 */

/* table help from: http://jsfiddle.net/webtiki/kQXkt/ */

body {
    text-align: center;
    font-family: "Rounded Mplus 1c";
    background-image: url("../img/japan-flag.svg");
    background-size:auto 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
}

table {
    margin: 0px auto;
    width: 500px;
}

td {
    width: 10%;
    position: relative;
    text-align: center;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 300%;
}

#words {
    color: white;
    height: 150px;
    width: 500px;
    margin: 0px auto;
}

footer {
    width: 50%;
    margin: 0px auto;
    font-size: small;
}

footer hr {
    margin-bottom: 30px;
}

footer img {
    height:75px;
}

footer p {
    margin: 0px;
}

footer a:hover {
    text-decoration: none;
}
