/* Final Project */

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#02797f;
    margin:0px;
    padding: 0px;
}

#content {
    width:700px;
    background-color: white;
    margin:0px auto;
}

header, footer {
    text-align:center;
    margin:0px;
    padding: 0px;
}

h1 {
    font-family: 'Sofia';
    font-size: 100px;
    color:#02797f;
    margin:0px;
}

h4, h5 {
    letter-spacing: 10px;
    text-transform: uppercase;
    margin:0px;
    padding:0px;
    /*padding-bottom: 40px;*/
}

footer {
    clear:both;
}

footer h5:hover {
    cursor: pointer;
    color:#e501b8;
}

/* LOGIN */

#login {
    display:none;
}

.error {
    color:red;
    font-weight:bold;
}

/* MENU */

h2 {
    font-family: "Arima Madurai";
    letter-spacing: 1px;
}

.category h2 {
    color:white;
    background-color:#02797f;
    padding-left:40px;
    width:250px;
    border-radius: 0px 15px 15px 0px;
}

.tile {
    background-color:rgba(2, 121, 127, 0.2);
    padding: 10px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom: 10px;
    height:250px;
    width:186px;
    float:left;
    
    border-radius: 20px;
}

.tile img {
    width:100%;
    border-radius: 15px;
}